In [1]:
first_name = input('insert your first name:')
middle_name = input('insert your middle name:')
last_name= input('insert your last name:')

print("hello",first_name,middle_name,last_name,"!!")

insert your first name:Rini ns
insert your middle name:nurul
insert your last name:sona
hello Rini ns nurul sona !!

Program Hitung Luas dan keliling Persegi Panjang

In [5]:
nilai_p = input('insert nilai panjang:') 
nilai_l = input('insert nilai luas:')

luas =int(nilai_p) * int(nilai_l) 
keliling = 3* (int(nilai_p) + int(nilai_l))

print("Luas =", luas) 
print("keliling =",keliling)

insert nilai panjang:5
insert nilai luas:10
Luas = 50
keliling = 45

Output

In [13]:
print("1","8","4","4",sep="*" *5, end= "-")

1*****8*****4*****4-

In [6]:
print("6","juni","2004",sep='\n')
print('')
print("04","july","2005",sep='-')

print("6","agustus","2005",sep='/')

6
juni
2004

04-july-2005
6/agustus/2005

Memformat dengan indeks

In [7]:
month_1 = "Agustus"
month_2 = "Juni"
month_3 = "Januari"

print("name of month {0},{1}".format(month_1, month_2))

name of month Agustus,Juni

In [11]:
print("Nama saya {fname} {lname}".format(fname='Rini',lname='Nurulsona'))

Nama saya Rini Nurulsona

In [12]:
kampus = "Universitas Nusa Putra"
print(kampus[0]) #U
print(kampus[-1]) #a

#menggunkan range
print(kampus[0:11])
print(kampus[12:1])
print(kampus[-5:])
print(kampus[::-1])

U
a
Universitas

Putra
artuP asuN satisrevinU

Interpolasi Menggunakan string

In [14]:
p = 10
l = 20

print(f'Luas Persegi = {l*p}')
print(f'Keliling Persegi = {2*(p+1)}')

Luas Persegi = 200
Keliling Persegi = 22

Fungsi

In [15]:
student_name = " mark lee, lucas, haechan"

print(student_name.split(',')) #merubah dari string ke list
print('@'.join(student_name.split(','))) #merubah dari list ke string

[' mark lee', ' lucas', ' haechan']
 mark lee@ lucas@ haechan

In [21]:
name = input("insert your name:")
birthday = input("insert your birthday :")

birth = birthday.split('/')
names = name.split()

print(f"Your name: {name}")
print(f"Date : {birth[0]}")
print(f"Month : {birth[1]}")
print(f"Year : {birth[2]}")
print(f"Initial : {names[0][0]}{names[1][0]}")

insert your name:Rini Nurulsona
insert your birthday :06/juni/2004
Your name: Rini Nurulsona
Date : 06
Month : juni
Year : 2004
Initial : RN